<div class="container-xl">
  <div class="row">
    <div class="col">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Events</h2>
    </div>
    <div class="col text-right">
      <%= link_to "Start Log for an Event", new_event_path, class: "btn btn-success" %>
    </div>
  </div>
  <% @events.each do |event| %>
    <div class="row">
      <div class="col">
        <%= event.event_name %>
        <%= link_to "Summary", stats_event_path(event), class: "btn btn-outline-primary" %>
        <%= link_to "Start Logging", event_path(event), class: "btn btn-outline-primary" %>
      </div>
    </div>
  <% end %>
</div>
