@import "bootstrap";

#log-table {
  margin-top: 56px;
  margin-bottom: 96px;
}

.log-entry-bar {
  background-color: #eee;
  padding-top: 10px;
}
.submit-log-btn {
  margin: 15px;
}
.reverse-scroll {
}
